@model DemoASP2.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <section class="title">
        <h2>Category Details</h2>
    </section>
    <div>
        <div class="card">
            <div class="card-head">
                <h4>Category #@Model.CategoryId</h4>
            </div>
            <div class="card-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CategoryName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
